.cl1
{
    color: blue;
    font-family: "Courier New";
    font-size: 12px;
}
.cl2
{
    color: red;
    font-weight: bold;
}
.cl3
{
    color: green;
    font-family: "Times New Roman";
    font-style: italic;
}
.cl4
{
    color: black;
    border: red;
}
.cl5
{
    color: blue;
    font-style: italic;
    font-weight: bold;
}